ul#menu li {
  display: inline;
  padding-right: 1em;
  padding-left: 1em;
  margin-right: 1em;

}

ul#menu a {
  text-decoration: none;
}

#menu li.active a {
  background: #F2F2F2;
  padding: .5em 2em .5em 2em;
  color: black;
  border-bottom: 5px solid #3C038C;
}

#header, #menu {
    text-align: center;
}