---
layout: layout.njk
---
      <nav id="navigation">
        <ul id="menu">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/page-01">Posts</a></li>
          <li><a href="/page-02">Investigations</a></li>
          <li><a href="/page-04">Podcasts</a></li>
          <li><a href="/page-03">About Us</a></li>
        </ul>
      </nav>
      <section id="maincontent">
        <section id="primary">
          <p>
            <b>OSINT stands for Open Source Intelligence.</b> It refers to the process of collecting and analysing information from publicly available sources such as social media, websites, news articles, and other open sources. OSINT is often used in intelligence, law enforcement, and corporate investigations to gather information on individuals, organisations, or events.
          </p>
          <p>
            <i>"OSINT is not just a collection of information, but a process of analyzing and synthesizing information from multiple sources to create actionable intelligence." - Robert David Steele, former CIA officer and author of "The Open-Source Everything Manifesto"</i>
          </p>
          <img src="/images/banner.jpeg" class="large-centre-img"alt="OSINT">
          <p>
            OSINT can be used to identify potential threats, monitor competitors, investigate crimes, and support decision-making processes. It involves searching for information, analysing and validating the data, and then presenting the findings in a useful format.
          </p>
          <p>
            There are many tools and techniques that can be used for OSINT, including search engines, social media monitoring tools, and data analysis software. It is important to use ethical and legal methods when conducting OSINT, as accessing certain types of information or violating privacy laws can result in legal consequences.
          </p>
          <p>
            If you're looking for more information about our organization and the work we do, please check the <a href="/page-03">About Us</a> or <a href="/page-02">Investigations</a> sections. These sections provide detailed information about our mission, values, history, and current projects. Additionally, they may feature profiles of key staff members and other resources that can help you better understand our organization's work and impact.
          </p>
        </section>
        <aside id="secondary">
          <h1>Top Posts</h1>
          <h3><a href="/page-05">The Importance of Ethical and Legal Practices in Open Source Intelligence</a></h3>
          <p>
            The availability of public information on the internet has made OSINT a powerful tool, it is important to use ethical and legal methods when conducting OSINT. In this post, we will discuss the importance of ethical and legal practices when conducting OSINT.
          </p>
          <h3><a href="/page-06">5 Ways to Conduct Open Source Intelligence (OSINT) Safely and Responsibly</a></h3>
          <p>
            OSINT involves collecting information from publicly available sources, which can potentially expose individuals to risks such as identity theft, cyberstalking, and harassment. In this post, we will discuss how to conduct OSINT safely.
          </p>
          <h3><a href="/page-07">Investigation Bias</a></h3>
          <p>
            Confirmation bias, selection bias, availability bias, the halo effect, and the bandwagon effect are some of the biases that OSINT investigators should be aware of. To combat these biases, one can use decision-making logs, peer review, work as a team, experiment with different tools and methods, and ensure transparency in their investigations. It is essential to weigh elements that support and contradict the conclusion and be open to criticism to review one's own work.
          </p>
        </aside>
      </section>
      