---
layout: layout.njk
---
<nav id="navigation">
  <ul id="menu">
    <li><a href="/">Home</a></li>
    <li><a href="/page-01">Posts</a></li>
    <li><a href="/page-02">Investigations</a></li>
    <li class="active"><a href="/page-04">Podcasts</a></li>
    <li><a href="/page-03">About Us</a></li>
  </ul>
</nav>
<section id="maincontent">
  <section id="primary">
    <p>
      The availability of public information on the internet has made OSINT a powerful tool, it is important to use ethical and legal methods when conducting OSINT. In this podcast, we will discuss the importance of ethical and legal practices when conducting OSINT.
      <figure>
        <figcaption>Podcast 1</figcaption>
        <audio class ="audio-container"
            controls
            src="/audio/podcast-1.m4a">
        </audio>
      </figure>
      <hr>
    </p>
    </section>
  <aside id="secondary">
    <h1>Investigations</h1>
    <h3><a href="/page-02">Bonnie the dog and the eaten napkin</a></h3>
    <p>
      Let's delve into the story of Bonnie, a beloved canine companion, who found herself at the center of a puzzling mystery that had her owner stumped. 
    </p>
    <p>
      The investigation took the team on a wild ride, from scouring online forums and social media pages to sifting through satellite imagery and tracking down eyewitness accounts.
    </p>
    </aside>
  </section>
  