---
layout: layout.njk
---
  <nav id="navigation">
    <ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/page-01">Posts</a></li>
      <li class="active"><a href="/page-02">Investigations</a></li>
      <li><a href="/page-04">Podcasts</a></li>
      <li><a href="/page-03">About Us</a></li>
    </ul>
  </nav>
  <section id="maincontent">
    <section id="primary">
      <h1>Bonnie the dog and an eaten napkin</h1>
      <img src="/images/bonnie.jpg" class="large-centre-img" alt="Bonnie the dog">
      <p>
       <i> It all started when a client approached us with a unique case. They suspected that their dog, Bonnie, had eaten a napkin and wanted us to investigate. At first, we thought this would be a straightforward case, but it turned out to be quite complicated.</i>
      </p>
      <p>
        To begin our investigation, we used various OSINT techniques. We started by searching for any public records or news articles about similar cases involving dogs and napkins. This led us to a few online forums where dog owners discussed similar issues and shared their experiences.</p>
      <p>
        Next, we used social media to gather more information about Bonnie. We found several pictures and videos of Bonnie on her owner's social media pages, which gave us a better idea of her behavior and habits. We also checked social media pages of other dog owners to learn about their experiences with similar situations.
      </p>
      <video src="/videos/bonnie.mov" controls width="250"
                  type="video/mp4"  class = "video-container"></video>
      <p>
        Using satellite imagery, we were able to find the area where Bonnie usually went for walks. We then searched for any public trash bins or dumpsters in the area where Bonnie could have potentially eaten the napkin. Using Google Maps, we also found nearby veterinary clinics and animal hospitals where Bonnie could have been taken for treatment.
      </p>
      <p>
        We also used public records to find out more about Bonnie's veterinarian and contacted them for any medical records or notes about her past illnesses or surgeries. We also checked online pet stores and veterinary websites to find out if any specific materials used in napkins could be harmful to dogs.
      </p>
      <p>
        Finally, we found a lead in the form of an eyewitness account from a neighbor who saw Bonnie near a garbage bin. We visited the neighbor and collected more information about the sighting, which helped us piece together the final part of the puzzle.
      </p>
      <p>
        In the end, our investigation revealed that Bonnie had indeed eaten a napkin from a nearby trash bin during one of her walks. We were able to prove it using a combination of different OSINT techniques, which made the case both exciting and challenging.
      </p>
    </section>
    <aside id="secondary">
      <h1>Top Posts</h1>
      <h3><a href="/page-05">The Importance of Ethical and Legal Practices in Open Source Intelligence</a></h3>
      <p>
        The availability of public information on the internet has made OSINT a powerful tool, it is important to use ethical and legal methods when conducting OSINT. In this post, we will discuss the importance of ethical and legal practices when conducting OSINT.
      </p>
      <h3><a href="/page-06">5 Ways to Conduct Open Source Intelligence (OSINT) Safely and Responsibly</a></h3>
      <p>
        OSINT involves collecting information from publicly available sources, which can potentially expose individuals to risks such as identity theft, cyberstalking, and harassment. In this post, we will discuss how to conduct OSINT safely.
      </p>
      <h3><a href="/page-07">Investigation Bias</a></h3>
      <p>
        Confirmation bias, selection bias, availability bias, the halo effect, and the bandwagon effect are some of the biases that OSINT investigators should be aware of. To combat these biases, one can use decision-making logs, peer review, work as a team, experiment with different tools and methods, and ensure transparency in their investigations. It is essential to weigh elements that support and contradict the conclusion and be open to criticism to review one's own work.
      </p>
    </aside>
  </section>
 