---
layout: layout.njk
---
  <nav id="navigation">
    <ul id="menu">
      <li><a href="/">Home</a></li>
      <li><a href="/page-01">Posts</a></li>
      <li><a href="/page-02">Investigations</a></li>
      <li><a href="/page-04">Podcasts</a></li>
      <li class="active"><a href="/page-03">About Us</a></li>
    </ul>
  </nav>
  <section id="maincontent">
    <section id="primary">
      <p><b>Welcome to our OSINT website!</b><br> Our platform is dedicated to providing resources, tools, and knowledge to those interested in open source intelligence (OSINT) investigations.</p>
      <p>Our team is made up of experts with years of experience in various fields, including journalism, human rights investigations, law enforcement, and more. We believe that OSINT investigations are a powerful tool for promoting accountability, transparency, and justice in our society.</p>
      <p>Through our website, we aim to educate and inform individuals and organizations on the potential of using open source information in their activities. We provide a variety of resources, including tutorials, case studies, and tool recommendations, to help people develop their skills and conduct successful OSINT investigations.</p>
      <p>Our team is committed to promoting ethical and responsible OSINT practices. We understand the importance of avoiding biases and maintaining privacy and security when conducting investigations. As such, we provide guidance on how to avoid common biases and protect yourself and others during your investigations.</p>
      <p>We are always looking for ways to improve our platform and provide the best resources possible. If you have any feedback, questions, or suggestions, please don't hesitate to contact us via info@osint[.]com. </p>
      <p>Thank you for visiting our website, and we hope that you find our resources helpful in your OSINT investigations!</p>
      <hr>
      <h2>Our Location</h2>
      <iframe class = "large-centre-img" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d152515.25333505156!2d-6.385786462171299!3d53.324443138213496!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48670e80ea27ac2f%3A0xa00c7a9973171a0!2z0JTRg9Cx0LvRltC9LCDQhtGA0LvQsNC90LTRltGP!5e0!3m2!1suk!2suk!4v1678479416119!5m2!1suk!2suk" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      <hr>
      <h2> Meet the team!</h2>
      <p><figcaption>Roy (Technical Investigator) </figcaption>
      <img src="/images/dog-1.jpg" class="large-left-img"alt="dog-1">
      <figcaption>Susy (Legal departament)</figcaption>
      <img src="/images/dog-2.jpg" class="large-left-img"alt="dog-2">
      <figcaption>Bobby (Open Source Investigator)</figcaption>
      <img src="/images/dog-3.jpg" class="large-left-img"alt="dog-3">
    </section>
    <aside id="secondary">
      <h1>Top Posts</h1>
      <h3><a href="/page-05">The Importance of Ethical and Legal Practices in Open Source Intelligence</a></h3>
      <p>
        The availability of public information on the internet has made OSINT a powerful tool, it is important to use ethical and legal methods when conducting OSINT. In this post, we will discuss the importance of ethical and legal practices when conducting OSINT.
      </p>
      <h3><a href="/page-06">5 Ways to Conduct Open Source Intelligence (OSINT) Safely and Responsibly</a></h3>
      <p>
        OSINT involves collecting information from publicly available sources, which can potentially expose individuals to risks such as identity theft, cyberstalking, and harassment. In this post, we will discuss how to conduct OSINT safely.
      </p>
      <h3><a href="/page-07">Investigation Bias</a></h3>
      <p>
        Confirmation bias, selection bias, availability bias, the halo effect, and the bandwagon effect are some of the biases that OSINT investigators should be aware of. To combat these biases, one can use decision-making logs, peer review, work as a team, experiment with different tools and methods, and ensure transparency in their investigations. It is essential to weigh elements that support and contradict the conclusion and be open to criticism to review one's own work.
      </p>
    </aside>
  </section>
 