---
layout: layout.njk
---
  <nav id="navigation">
    <ul id="menu">
      <li><a href="/">Home</a></li>
      <li class="active"><a href="/page-01">Posts</a></li>
      <li><a href="/page-02">Investigations</a></li>
      <li><a href="/page-04">Podcasts</a></li>
      <li><a href="/page-03">About Us</a></li>
    </ul>
  </nav>
  <section id="maincontent">
    <section id="primary">
      <h2>
        <img src="/images/ethicallegal.jpg" class="medium-left-img" alt="Ethical or Legal?">
      <a href="/page-05">The Importance of Ethical and Legal Practices in Open Source Intelligence</a>
      </h2>          
      <p>
        The availability of public information on the internet has made OSINT a powerful tool, it is important to use ethical and legal methods when conducting OSINT. In this post, we will discuss the importance of ethical and legal practices when conducting OSINT. <a href="/page-05">Learn more</a><hr>
      </p>
      <h2>
        <img src="/images/osint.png" class="medium-right-img">
      <a href="/page-06" alt="OSINT">5 Ways to Conduct Open Source Intelligence (OSINT) Safely and Responsibly</a>
      </h2>          
      <p>
        OSINT involves collecting information from publicly available sources, which can potentially expose individuals to risks such as identity theft, cyberstalking, and harassment. In this post, we will discuss how to conduct OSINT safely. <a href="/page-06">Learn more</a><hr>
      </p>
      <h2>
        <img src="/images/bias.jpg" class="medium-left-img" alt="Fact vs Belief">
      <a href="/page-07">Investigation Bias</a>
      </h2>          
      <p>
        Confirmation bias, selection bias, availability bias, the halo effect, and the bandwagon effect are some of the biases that OSINT investigators should be aware of. To combat these biases, one can use decision-making logs, peer review, work as a team, experiment with different tools and methods, and ensure transparency in their investigations. It is essential to weigh elements that support and contradict the conclusion and be open to criticism to review one's own work. <a href="/page-07">Learn more</a><hr>
      </p>
    </section>
    <aside id="secondary">
      <h1>Investigations</h1>
      <h3><a href="/page-02">Bonnie the dog and the eaten napkin</a></h3>
      <p>
        Let's delve into the story of Bonnie, a beloved canine companion, who found herself at the center of a puzzling mystery that had her owner stumped. 
      </p>
      <p>
        The investigation took the team on a wild ride, from scouring online forums and social media pages to sifting through satellite imagery and tracking down eyewitness accounts.
      </p>
    </aside>
  </section>
    